.SignupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; /* Set to your desired width */
    height: 550px; /* Set to your desired height */
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 20px; /* Add some padding */
}

.SignupContainer h1 {
    color: black;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.SignupContainer form {
    display: flex;
    flex-direction: column;
}

.SignupContainer form .ant-form-item {
    margin-bottom: 0; /* Remove the default bottom margin */
}

.SignupContainer form .ant-input {
    height: 40px; /* Make the inputs a bit taller */
}

.SignupContainer form .ant-btn {
    height: 40px; /* Make the button a bit taller */
    font-size: 18px; /* Increase the button text size */
}

.SignupContainer form .ant-form-item:last-child {
    display: flex;
    justify-content: space-between; /* Align the links to the sides */
}