.Background {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* Add a grid overlay */
    background-image: 
    linear-gradient(0deg, transparent 24px, rgba(255, 255, 255, 0.1) 25px, rgba(255, 255, 255, 0.1) 26px, transparent 27px),
    linear-gradient(90deg, transparent 24px, rgba(255, 255, 255, 0.1) 25px, rgba(255, 255, 255, 0.1) 26px, transparent 27px);
  background-size: 60px 60px;
}

.custom-navbar  {
  background-color: #282c34; /* Change this to your desired color */
}

#dropdown-basic {
  background-color: #282c34;
  border-color: transparent;
}

.navbar-nav .dropdown-menu {
  background-color: #222222;
  --bs-dropdown-link-color: #fefefe;
}

.dropdown-it {
  color: white;
}

.custom-navbar .navbar-nav .nav-link {
  color: rgb(27, 26, 26); /* Change this to your desired text color */
}

.Background-no-grid {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

.CenterBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px; /* Set to your desired width */
  height: 400px; /* Set to your desired height */
  /*background-color: white; /* Set to your desired background color */
  align-items: center;
  text-align: center;
}

.CenterBox h1 {
  font-family: 'Arial', sans-serif; 
  color: #f55;
  font-size: 80px;
}

.CenterBox a {
  margin-left: 20px;
}